.cart-container {
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 7px;
  margin: 7px;
}
.container-cart {
  max-width: 800px;
  margin: auto;
  margin: auto;
}
.cart-item {
  background-color: var(--background-gradient-2);
  border-radius: 8px;
  display: flex;
  margin: 10px 0px;
}
.cart-short-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-img {
  background-color: var(--secondary-color);
  margin: 7px;
  border-radius: 8px;
  max-width: 100px;

  object-fit: cover;

  object-fit: cover;
}
.cart-container h2,
p {
  font-size: 10px;
  color: var(--main-text-color);
}

.btn-cart {
  margin-top: 7px;
  width: 100%;
  height: 30px;
  background: var(--btn-addCart);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--almost-white);
}
.order-text {
  color: var(--main-text-color);
  margin: 7px;
}

.cart-navigation {
  display: flex;
}
.amount-container {
  display: flex;
  background-color: var(--product-third-color);
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
  border-radius: 33px;
  height: 40px;
}
.cart-right-section {
  margin: auto;
  margin-right: 7px;
}
.amount-container button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 60px;
}
@media screen and (max-width: 700px) {
  .order-text {
    font-size: 14px;
  }
}
