.btn_filter {
  background: #272727;
  border: 1px solid #222222;
  border-radius: 8px;
  color: #f1f1f1;
  padding: 12px 9px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.filter-container {
  width: 520px;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filter-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar on webkit browsers */
}

.filter-icon {
  margin-right: 7px;
}
