.searchbar-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--btn-addCart);
  border-radius: 8px;
  background-color: var(--searchbar-color);
  max-width: 700px;
  margin: auto;
  position: relative;
}

.searchbar-container:focus-within {
  transition-duration: 20ms;
  border: 3px solid var(--btn-addCart);
}
.searchbar-container input {
  flex: 1;
  background: transparent;
  border: transparent;
  margin: 5px;
  color: var(--main-text-color);
}

.search-icon {
  color: #757575;
  margin: 7px;
}
textarea:focus,
input:focus {
  outline: none;
}

.search-content {
  position: absolute;
  background-color: var(--main-color);
  backdrop-filter: blur(10px);
  border: 1px solid var(--btn-addCart);
  border-radius: 8px;
  margin-top: 40px;
  top: 0;
  left: 0;
  width: 100%;
}
.search-content:empty {
  display: none;
}
