.img-search {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
}

.search-item {
  display: flex;
  align-items: center;
  margin: 7px;
}
.search-item:hover {
  background-color: var(--btn-addCart);
  cursor: pointer;
}
.search-result-icon {
  margin-left: 7px;
  margin-right: 7px;
  color: var(--main-text-color);
}
