:root {
  --main-color: rgba(255, 255, 255, 0.1);
  --secondary-color: rgba(18, 18, 18, 0.2);
  --btn-solid-color: #272727;
  --main-text-color: #f1f1f1;
  --border-color: #222222;
  --btn-addCart: rgba(81, 69, 229, 0.9);
  --background-gradient-1: #0f0f0f;
  --background-gradient-2: #272727;
  --almost-white: #f1f1f1;
  --cart-item-bg: #f1f1f1;
  --searchbar-color: #272727;
  --bacground-blur-color: rgb(106, 188, 202);
  --img-brightness: brightness(60%);
  --product-third-color: #304e53;
  --text-description: #7a7e83;
}

@font-face {
  font-family: SFpro;
  src: url(./assets/fonts/SFPRODISPLAYBOLD.OTF);
}
.wrapper-App {
  margin: 100px 15px;
}

.App {
  margin: auto;
  max-width: 1400px;
}

p,
h1,
h2,
button {
  font-family: SFpro;
}

.flex-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 9px;
}

@media screen and (min-width: 1000px) {
  .flex-div {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1300px) {
  .flex-div {
    grid-template-columns: repeat(4, 1fr);
  }
}
