.header-wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  margin: 0 15px;
}
.header-container .header-icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  background: rgba(81, 69, 229, 0.9);
  color: #f1f1f1;

  border-radius: 66.7%;

  margin-right: 5px;
}

.header-profile-icon {
  width: 30px;
  height: 30px;
}
