.header-wrapper {
  position: fixed;
  width: 100%;
  background-color: var(--searchbar-color);
  top: 0;
  border-bottom: 1px solid var(--border-color);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  max-width: 1400px;
  margin: auto;
}
.header-container .header-icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  background: rgba(81, 69, 229, 0.9);
  color: #f1f1f1;
  border-radius: 66.7%;
  margin-right: 5px;
  cursor: pointer;
}

.header-profile-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1400px) {
  .header-container {
    margin: 0 15px;
  }
}
