@font-face {
  font-family: SFpro;
  src: url(./assets/fonts/SFPRODISPLAYREGULAR.OTF);
}
.card {
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper-img {
  min-height: 150px;
  max-height: 367px;
  border-radius: 8px;
}

.card h2,
p {
  color: var(--main-text-color);
}
.card h2 {
  font-size: 1em;
  font-weight: 400;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.card p {
  font-size: 0.7em;
}
.description-text {
  color: var(--text-description);
  display: block;
  margin-block-start: 0em;
}
.card button {
  font-size: 1em;
  cursor: pointer;
}
.btn-addToCart {
  width: 100%;
  height: 30px;
  background: var(--btn-addCart);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--almost-white);
}
.original-price {
  text-decoration: line-through;
  color: #b24e46;
}

.price-displayed {
  display: flex;
}
.new-price {
  margin-left: 7px;
}
.flex-top-section {
  position: relative;
}
.percentage-discount {
  position: absolute;
  top: -10px;
  right: 10px;
  color: #b24e46;
}
@media screen and (min-width: 700px) {
  .card h2 {
    font-size: 1.5em;
  }
  .card p {
    font-size: 1em;
  }
  .wrapper-img {
    min-height: 250px;
  }
}
