.wrapper-contact {
  max-width: 800px;
  margin: auto;
}
.container-contact {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 400px;
  margin: 7px;
  background-color: var(--almost-white);
  display: flex;
}
.container-left-contact {
  background-color: var(--btn-addCart);
  margin: 7px;
  border-radius: 8px;
}
.container-left-contact p {
  max-width: 350px;
}
.container-right-contact {
  flex: 1;
}
.contact-form-icon {
  color: var(--main-text-color);
}
.wrapper-contact-icon {
  display: flex;
  align-items: center;
}
.contact-navigation {
  display: flex;
}
.back-icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: var(--btn-addCart);
  color: var(--almost-white);
  border: 1px solid var(--border-color);
  border-radius: 66.7%;
}
.top-form {
  display: flex;
  justify-content: center;
}
.top-form input {
  width: 100%;
  margin: 7px;
}
.top-form input:focus {
  border-color: green;
  outline: 1px dotted #000;
}
.error-firstname,
.error-lastname,
.error-bodytext,
.error-email {
  width: 100%;
  margin: 0px 7px;
  color: brown;
}

.middle-form {
  display: flex;
  flex-direction: column;
}
.middle-form input,
textarea {
  margin: 7px;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
.contact-form input {
  outline: 0;
  border-width: 0 0 2px;
}
.bottom-form {
  margin: 7px;
}
.contact-form input,
textarea {
  border: none;
  border-bottom: 3px solid var(--border-color);
  padding: 5px 10px;
  outline: none;
  background-color: var(--almost-white);
}
.contact-form textarea {
  border: none;
  border-bottom: 3px solid var(--border-color);
  padding: 5px 10px;
  outline: none;
}
.contact-form input:focus {
  border-bottom: 3px solid var(--border-color);
}
.contact-form button {
  cursor: pointer;
  width: 100%;
  height: 30px;
  background: var(--btn-addCart);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--almost-white);
}
