.container-specific {
  max-width: 800px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  display: flex;
}
.specific-product-img {
  max-width: 300px;
}
.container-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.star-icon {
  color: yellow;
}
